mixin img(props)
    img(src=require(`../../assets${props.src}`).default alt=props.alt || '')&attributes(attributes)

mixin svg(id)
    img(inline src=`src/assets/icons/${id}.svg`)&attributes(attributes)

mixin picture(props)
    picture.picture(class= props.classList ? props.classList : '')&attributes(attributes)
        if (props.sources)
            each source in props.sources
                source(srcset = source.srcset media=`(min-width: ${source.breakpoint}px)` || null)
        if (props.img)
            +img(props.img)

mixin button(name)
    button&attributes(attributes) #{name}
        block 

mixin swiper
    .swiper&attributes(attributes)
        .swiper-wrapper
            .swiper-slide 
                .swiper-slide__slide Slide 1
            .swiper-slide 
                .swiper-slide__slide Slide 2
            .swiper-slide 
                .swiper-slide__slide Slide 3
        .swiper-button-next
        .swiper-button-prev